/*
 * Copyright (c) 2022 Laczen
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@0 {
			label = "code";
			reg = <0x00000000 0x000040000>;
		};

		nvbdisk_partition: partition@40000 {
			label = "nvb_disk";
			reg = <0x00040000 0x00040000>;
		};

	};
};

/ {
	nvb_disk0 {
		compatible = "zephyr,nvblock-disk";
		partition = <&nvbdisk_partition>;
		disk-name = "NVBL";
		sector-size = <512>;
		erase-block-size = <DT_SIZE_K(128)>;
		spare-size = <DT_SIZE_K(128)>;
	};
};

